# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
Debug_H7xx/
Release_H7xx/
Debug_G491/
Debug_G491_ECU/
Debug_G491_PMU/
Debug_G491_RCU/
Debug_H7xx_IOB/
Debug_H7xx_LCB/
Release_G491/
*.dSYM/
*.su
*.idb
*.pdb
*.launch

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

git_version.h
